*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 14px;
}
.wrapper{
    width: 1230px;
    margin: 0 auto;
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
}
li{
    list-style: none;
}
